html{
    scroll-behavior:smooth;
}
p{
    text-align:center
}
nav{
    background-color:#5E5858;
    padding:20px;
    text-align:center;
    
}
nav a{
    color:white;
    text-decoration:none;
    margin:5px;
}
body{
    background-color:#B2B1B1;
}
h1{
    text-align:center;
}
footer{
    background-color:#5E5858;
}
footer a{
    text-decoration:none;
    color:white;
    font-size:30px;
}
